<%- include("partials/header") %>
<form method="post" class="my-10 mx-auto w-3/4">
  <h1 class="text-7xl"><%= postTitle %></h1>
  <h1 class="text-2xl">~<%= author %></h1>
  <p class="text-base mt-6"><%= postContent %></p>
  <% if(author===user){ %>
  <button class="delete-button" type="submit">Delete This post</button>
  <% } %>
</form>
<%- include("partials/footer") %>
